*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
    align-items: center;
}

#textHeader{
    margin-left: 31px;
    color: grey;
    margin-bottom: 65px;
}

a{
    margin-left: 30px;
    color: blue;
    text-decoration: none;
    
}

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --padding-container: 100px 0;
    --color-title: #001a49;
    --background: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.person {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.person::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/fondoo.jpeg');
    background-size: cover;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    z-index: -1;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_logo {
    display: grid;
    width: 30%;
}

.nav_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items {
    list-style: none;
    color: burlywood;
}

.nav_links {
    color: #fff;
    text-decoration: none;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img {
    display: block;
    width: 30px;
}

.nav_close {
    display: var(--show, none);
}

.person_container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.person_title {
    font-size: 3rem;
}

.person_paragraph {
    margin-bottom: 20px;
}

.gallery{
    display: flex;
    background-color: var(--background);
    gap: 16px;
    scale: 1.6;
    margin-left: 24%;
    margin-top: 7%;
}

.card1 {
    position: relative;
    left: 8px;
    width: 140px;
    height: 160px;
    background-color: var(--background);
    border-radius: 8px;
    transition: 1080 all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid var(--background);
    overflow: hidden;
}

.card1 img {
    height: 168px;
    object-fit: cover;
    border-radius: 4px;
}

.card1:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.card1:hover figcaption{
    font-size: 0.6rem;
    position: absolute;
    height: 80px;
    width: 160px;
    display: flex;
    align-items: end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    left: 8px;
    bottom: 8px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.card1:hover ~ .card{
    font-weight: bold;
    cursor: pointer;
    transform: translateX(22px);
}


.page-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 750px;
    align-items: center;
    font-family: var(--font-sans);
}

.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: white;
    box-shadow: 0 1px 1px rgba(251, 248, 248, 0.1), 0 2px 2x rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var (--d) * 1.5) var(--e);
    pointer-events: none;
}

.card::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background-image: url(../img/2.jpg);
}

.card:nth-child(2):before {
    background-image: url(../img/cultura.jpg);
}

.card:nth-child(3):before {
    background-image: url(../img/comida.jpg);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+*{
    margin-top: 1rem;
}

.title{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-sans);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.btn:hover{
    background-color: #0d0d0d;
}

.btn:focus{
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

.card::after{
    transform: translateY(0);
}

.content{
    transform: translateY(calc(100% -4.5rem));
}

.content>*:not(title){
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card:hover {
    align-items: center;
}

.card:hover:before {
    transform: translateY(-4%);
}

.card:hover::after{
    transform: translateY(-50%);
}

.card:hover .content{
    transform: translateY(0);
}

.card:hover .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}